.vscode

core/__pycache__
examples/__pycache__

all_data
data/*
tmp/

rviz/check.rviz

results

examples/benchmark/src/__pycache__

examples/common/src/__pycache__

examples/app/src/__pycache__

## 下面是一些测试文件和脚本

test/demo_with_apriltag/src/__pycache__
test/demo_with_apriltag/tmpl

test/demo/src/__pycache__
test/demo/tmpl
test/demo/weights

test/ky/src/__pycache__
test/ky/tmpl/
test/ky/weights

test/umi/src/__pycache__

test/show/src/__pycache__
test/show/tmpl/
test/show/weights/

test/openclaw/src/__pycache__
test/openclaw/tmpl